<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col p-5">
      <h1>Angular 16 Datatables Example</h1>
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>名稱</th>
            <th>位置</th>
            <th>價格</th>
            <th>狀態</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let post of posts">
            <td>{{ post.rowId }}</td>
            <td>{{ post.name }}</td>
            <td>{{ post.location }}</td>
            <td>{{ post.price }}</td>
            <td>{{ post.status }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
